<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Fiyat</th> 
            <th class="text-center">
                @Html.ActionLink("Yeni", "Save", "Product", null, new { @class = "btn btn-primary" })
            </th>

            
        </tr>
    </thead>
    <tbody>
      @*   ViewBag içinde ürünler varsa *@
        @if (ViewBag.products != null)
        {
           @*  ViewBag'daki ürünler içerisinde dön' *@
            foreach (product item in ViewBag.products)
            {
                <tr>
                    <td class="">@item.name</td>
                    <td class="">@item.description</td>
                    <td class="">@item.price</td>
                    <td style="width:90px">
                        @Html.ActionLink("Güncelle", "Save", "Product", null, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
